/**
Navigation
*/
/**
Visie Block  
*/
/**
Locations
*/
/**
Colors 
*/
/*
Calendar Pagination
*/
/*
Artikels
*/
/*@arikel-long: 375px;
@arikel-short: 150px;*/
/**
Footer
*/
.article h1 {
  color: #3c3c3c;
}
.article h6 {
  color: #a0a0a0;
}
.articleLine {
  border-bottom: 3px solid #ebebeb;
}
