/**
Navigation
*/
/**
Banner
*/
/**
Visie Block  
*/
/**
Locations
*/
/**
Colors 
*/
/*
Calendar Pagination
*/
/*
Artikels
*/
/*@arikel-long: 375px;
@arikel-short: 150px;*/
/**
Footer
*/
.location-main {
  background-image: url(../images/location-header.jpg);
  background-size: cover;
}
.location-description {
  color: #a0a0a0;
  font-family: 'signika-light';
}
.welcome-text-location {
  font-size: 57px;
}
.events {
  background-color: #f6f6f6;
}
.events-block {
  margin-top: 5%;
}
.events-block .row {
  margin-top: 3%;
}
.event-border {
  border: 1px solid #dcdcdc;
}
.event {
  text-align: center;
  width: 100%;
  padding: 10px 0px;
  height: 80px;
}
.event:hover {
  background-color: #d46c5b;
  cursor: pointer;
}
.event .event-description {
  font-family: 'signika-light';
  color: #a0a0a0;
}
.event-location-hover {
  background-color: #d46c5b;
}
.event-location-hover .title,
.event-location-hover .event-description {
  color: #ffffff;
  background-color: #d46c5b;
}
.event-location-active {
  background-color: #d46c5b;
}
.event-location-active .title,
.event-location-active .event-description {
  color: #ffffff;
}
.event .title {
  font-family: 'signika-bold';
  font-size: 1.5em;
  padding: 0 5px;
}
.event-slogan {
  margin-bottom: 5%;
}
.second-row {
  margin-top: 2%;
}
.location-view {
  background-color: #f0f0f0;
}
.event-main .title {
  margin-top: 0px;
  color: #d46c5b;
}
.event-main h6 {
  font-size: 2.5em;
}
.event-icons {
  width: 60%;
  color: #706d6e;
  margin-top: 5%;
}
.event-icons .glyphicon {
  font-size: 1.5em;
}
.event-icons div {
  margin-top: 2%;
}
.event-icons .glyphicon {
  float: left;
}
.icon-text {
  padding-left: 5%;
  display: block;
  overflow: hidden;
}
.event-icon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
}
.event-main img {
  width: 100%;
  margin: 3% 0;
}
.event-description {
  margin: 5% 0;
}
.location-social-media {
  display: inline;
}
.location-social-media a {
  color: #ffffff;
  background-color: #3d3d3d;
}
.event-fb {
  margin-left: 10%;
}
