/* Media queries */
/**
Visie Block  
*/
/**
Locations
*/
/**
Colors
*/
/*
Calendar Pagination
*/
/*
Artikels
*/
/*@arikel-long: 375px;
@arikel-short: 150px;*/
/**
Footer
*/
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  body {
    font-size: 100%;
  }
  .nav a {
    font-size: 1.5em;
  }
  .welcomeText {
    font-size: 62px;
  }
  .locations img {
    height: initial;
    width: initial;
  }
  .row {
    width: 70%;
    margin: auto;
  }
  .location {
    width: 20%;
  }
  .calender-item .date h1 {
    font-size: initial;
  }
  .description {
    font-size: initial;
  }
  .calender-item {
    height: 200px;
  }
  .calendar .col-xs-6 {
    width: 25%;
  }
  .calendar-items ._1 {
    background-color: #ffffff;
  }
  .calendar-items ._2 {
    background-color: #e69f55;
  }
  .calendar-items ._2 .city {
    color: inherit;
  }
  .calendar-items ._2 {
    background-color: #e69f55;
  }
  .calendar-items ._3 {
    background-color: #ffffff;
  }
  .calendar-items ._4 {
    background-color: #78b096;
  }
  .calendar-items ._4 .city {
    color: inherit;
  }
  .calendar-items ._5 {
    background-color: #e1bf5c;
  }
  .calendar-items ._5 .city {
    color: inherit;
  }
  .calendar-items ._6 {
    background-color: #ffffff;
  }
  .calendar-items ._6 .city {
    color: inherit;
  }
  .calendar-items ._7 {
    background-color: #d46c5b;
  }
  .calendar-items ._7 .city {
    color: inherit;
  }
  .calendar-items ._8 {
    background-color: #ffffff;
  }
  .calendar-items ._9 {
    display: none;
  }
  .calendar .rowHeight {
    height: 195px;
  }
  .item,
  .grid-sizer {
    width: 25%;
  }
  .item._1 {
    height: 275px;
    background-color: #3d3d3d;
    color: #ffffff;
  }
  .item._2 {
    height: 150px;
    background-color: #e69f55;
  }
  .item._3 {
    height: 275px;
    background-color: #ffffff;
  }
  .item._4 {
    height: 150px;
    background-color: #78b096;
  }
  .item._5 {
    height: 275px;
    background-color: #ffffff;
  }
  .item._6 {
    height: 275px;
  }
  .item._7 {
    height: 150px;
    background-color: #d46c5b;
  }
  .item._8 {
    height: 150px;
    background-color: #e1bf5c;
  }
  .item._9 {
    height: 275px;
    background-color: #ffffff;
  }
  .item._10 {
    height: 150px;
    background-color: #e1bf5c;
  }
  .item._11 {
    height: 275px;
    background-color: #ffffff;
  }
  .item._12 {
    height: 150px;
    background-color: #d46c5b;
  }
  .item._13 {
    display: block;
    height: 275px;
    background-color: #ffffff;
  }
  .item._14 {
    display: block;
    height: 275px;
    background-color: #ffffff;
  }
  .item._15 {
    display: block;
    height: 150px;
    background-color: #e69f55;
  }
  .item._16 {
    display: block;
    height: 150px;
    background-color: #78b096;
  }
  .breeze-fm-main {
    width: 100%;
  }
  .broadcast-wrapper {
    padding: 0;
  }
  .video-img-wrapper {
    width: 100%;
  }
  .background-wave-size {
    background-size: 15px;
  }
  .breeze-block {
    padding: 4% 0;
  }
  .wave {
    margin-top: 2%;
  }
  .broadcast-wrapper {
    width: 150px;
  }
  .breezefm-right {
    height: 100%;
    position: absolute;
    right: 0;
  }
  .btn-onair {
    position: absolute;
    bottom: 0;
  }
  .navbar-nav.navbar-right:last-child {
    margin-right: 15px;
  }
  ul.footerMenuRight {
    float: right;
  }
  ul.footerMenuLeft img {
    width: 100%;
  }
  .verticalLine {
    border-left: 1px solid #ffffff;
    height: 30px;
    margin-left: 30px;
    margin-right: 30px;
  }
  .footerMenuLeft {
    display: block;
  }
  ul.footerMenuLeft {
    display: inline-block;
    float: left;
    padding-left: 0;
  }
  ul.footerMenuLeft li {
    display: inline-block;
    float: left;
    padding-left: 0;
    padding-bottom: 20px;
  }
  ul.socialMediaIcons {
    padding-top: 5%;
  }
  .footerLogo {
    padding-top: 10%;
  }
  ul.socialMediaIcons {
    font-size: 1.5em;
  }
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  body {
    font-size: 120%;
  }
  .nav a {
    font-size: 1em;
  }
  .welcomeText {
    font-size: 81px;
  }
  .location {
    width: 20%;
  }
  .calendar .rowHeight {
    height: 240px;
  }
  .background-wave-size {
    background-size: 17px;
  }
  .broadcast-wrapper {
    width: 200px;
  }
  .footerLogo {
    padding-top: 5%;
  }
  ul.socialMediaIcons {
    padding-top: 3%;
  }
}
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  body {
    font-size: 150%;
  }
  .nav a {
    font-size: 1em;
  }
  .welcomeText {
    font-size: 98px;
  }
  .location {
    width: 20%;
  }
  .calendar .rowHeight {
    height: 240px;
  }
  .background-wave-size {
    background-size: 20px;
  }
}
