/* Media queries */
/**
Navigation
*/
/**
Visie Block  
*/
/**
Locations
*/
/**
Colors 
*/
/*
Calendar Pagination
*/
/*
Artikels
*/
/*@arikel-long: 375px;
@arikel-short: 150px;*/
/**
Footer
*/
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  body {
    font-size: 100%;
  }
  .nav a {
    font-size: 1.5em;
  }
  .welcomeText {
    font-size: 110px;
  }
  .welcome-breeze-text {
    height: 295px;
  }
  .visieBlock h1 {
    width: 40%;
  }
  .locations img {
    height: initial;
    width: initial;
  }
  .row {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
  .location {
    width: 20%;
  }
  .calender-item .date h1 {
    font-size: initial;
  }
  .description {
    font-size: initial;
  }
  .calender-item {
    height: 200px;
  }
  .calendar .col-xs-6 {
    width: 25%;
  }
  .calendar .rowHeight {
    height: 195px;
  }
  .item,
  .grid-sizer {
    width: 25%;
  }
  .item._1 {
    height: 275px;
  }
  .item._2 {
    height: 150px;
  }
  .item._3 {
    height: 275px;
  }
  .item._4 {
    height: 150px;
  }
  .item._5 {
    height: 275px;
  }
  .item._6 {
    height: 275px;
  }
  .item._7 {
    height: 150px;
  }
  .item._8 {
    height: 150px;
  }
  .item._9 {
    height: 275px;
  }
  .item._10 {
    height: 150px;
  }
  .item._11 {
    height: 275px;
  }
  .item._12 {
    height: 150px;
  }
  .item._13 {
    height: 275px;
  }
  .item._14 {
    height: 275px;
  }
  .item._15 {
    height: 150px;
  }
  .item._16 {
    height: 150px;
  }
  .breeze-fm-main {
    width: 100%;
  }
  .broadcast-wrapper {
    padding: 0;
  }
  .video-img-wrapper {
    width: 100%;
  }
  .background-wave-size {
    background-size: 15px;
  }
  .breeze-block {
    padding: 4% 0;
  }
  .wave {
    margin-top: 2%;
  }
  .broadcast-wrapper {
    width: 150px;
  }
  .breezefm-right {
    height: 100%;
    position: absolute;
    right: 0;
  }
  .btn-onair {
    position: absolute;
    bottom: 0;
  }
  .navbar-nav.navbar-right:last-child {
    margin-right: 15px;
  }
  ul.footerMenuRight {
    float: right;
  }
  ul.footerMenuLeft img {
    width: 100%;
  }
  .verticalLine {
    border-left: 1px solid #ffffff;
    height: 30px;
    margin-left: 30px;
    margin-right: 30px;
  }
  .footerMenuLeft {
    display: block;
  }
  ul.footerMenuLeft {
    display: inline-block;
    float: left;
    padding-left: 0;
  }
  ul.footerMenuLeft li {
    display: inline-block;
    float: left;
    padding-left: 0;
    padding-bottom: 20px;
  }
  ul.socialMediaIcons {
    padding-top: 5%;
  }
  .footerLogo {
    padding-top: 10%;
  }
  ul.socialMediaIcons {
    font-size: 1.5em;
  }
  .videoPlay {
    height: 80px;
    width: 80px;
  }
  .imagePlay {
    position: absolute;
    top: 50%;
    margin-top: -16px;
    left: 50%;
    margin-left: -16px;
    width: 32px;
  }
  .visieText {
    font-size: 190px;
  }
  .welcome-visie-height {
    height: 265px;
  }
  .vertical-align {
    display: flex;
    align-items: center;
  }
  .visie-list-icon {
    text-align: right;
  }
  .va-text {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }
  .visie-item .icon {
    text-align: right;
    -webkit-transform: none;
    transform: none;
  }
  .visie-item .slogan-wrapper {
    font-size: 1.5em;
  }
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  body {
    font-size: 120%;
  }
  .nav a {
    font-size: 1em;
  }
  .visieBlock h1 {
    width: 30%;
  }
  .location {
    width: 20%;
  }
  .calender-item {
    height: 300px;
  }
  .calendar .rowHeight {
    height: 240px;
  }
  .background-wave-size {
    background-size: 17px;
  }
  .broadcast-wrapper {
    width: 200px;
  }
  .footerLogo {
    padding-top: 5%;
  }
  ul.socialMediaIcons {
    padding-top: 3%;
  }
}
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  body {
    font-size: 150%;
  }
  .nav a {
    font-size: 1em;
  }
  .location {
    width: 20%;
  }
  .calendar .rowHeight {
    height: 240px;
  }
  .background-wave-size {
    background-size: 20px;
  }
}
