/* Media queries */
/**
Visie Block  
*/
/**
Locations
*/
/**
Colors
*/
/*
Calendar Pagination
*/
/*
Artikels
*/
/*@arikel-long: 375px;
@arikel-short: 150px;*/
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  body {
    font-size: 100%;
  }
  .nav a {
    font-size: 1.5em;
  }
  .welcomeText {
    font-size: 62px;
  }
  .locations img {
    height: initial;
    width: initial;
  }
  .row {
    width: 70%;
    margin: auto;
  }
  .location {
    width: 20%;
  }
  .calender-item .date h1 {
    font-size: initial;
  }
  .description {
    font-size: initial;
  }
  .calendar .col-xs-6 {
    width: 25%;
  }
  .calendar-items ._1 {
    background-color: #ffffff;
  }
  .calendar-items ._2 {
    background-color: #e69f55;
  }
  .calendar-items ._2 .city {
    color: inherit;
  }
  .calendar-items ._2 {
    background-color: #e69f55;
  }
  .calendar-items ._3 {
    background-color: #ffffff;
  }
  .calendar-items ._4 {
    background-color: #78b096;
  }
  .calendar-items ._4 .city {
    color: inherit;
  }
  .calendar-items ._5 {
    background-color: #e1bf5c;
  }
  .calendar-items ._5 .city {
    color: inherit;
  }
  .calendar-items ._6 {
    background-color: #ffffff;
  }
  .calendar-items ._6 .city {
    color: inherit;
  }
  .calendar-items ._7 {
    background-color: #d46c5b;
  }
  .calendar-items ._7 .city {
    color: inherit;
  }
  .calendar-items ._8 {
    background-color: #ffffff;
  }
  .calendar-items ._9 {
    display: none;
  }
  .calendar .rowHeight {
    height: 195px;
  }
  .item,
  .grid-sizer {
    width: 25%;
  }
  .item._1 {
    height: 275px;
    background-color: #3d3d3d;
    color: #ffffff;
  }
  .item._2 {
    height: 150px;
    background-color: #e69f55;
  }
  .item._3 {
    height: 275px;
    background-color: #ffffff;
  }
  .item._4 {
    height: 150px;
    background-color: #78b096;
  }
  .item._5 {
    height: 275px;
    background-color: #ffffff;
  }
  .item._6 {
    height: 275px;
  }
  .item._7 {
    height: 150px;
    background-color: #d46c5b;
  }
  .item._8 {
    height: 150px;
    background-color: #e1bf5c;
  }
  .item._9 {
    height: 275px;
    background-color: #ffffff;
  }
  .item._10 {
    height: 150px;
    background-color: #e1bf5c;
  }
  .item._11 {
    height: 275px;
    background-color: #ffffff;
  }
  .item._12 {
    height: 150px;
    background-color: #d46c5b;
  }
  .item._13 {
    display: block;
    height: 275px;
    background-color: #ffffff;
  }
  .item._14 {
    display: block;
    height: 275px;
    background-color: #ffffff;
  }
  .item._15 {
    display: block;
    height: 150px;
    background-color: #e69f55;
  }
  .item._16 {
    display: block;
    height: 150px;
    background-color: #78b096;
  }
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  body {
    font-size: 120%;
  }
  .nav a {
    font-size: 1em;
  }
  .welcomeText {
    font-size: 81px;
  }
  .location {
    width: 20%;
  }
  .calendar .rowHeight {
    height: 240px;
  }
}
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  body {
    font-size: 150%;
  }
  .nav a {
    font-size: 1em;
  }
  .welcomeText {
    font-size: 98px;
  }
  .location {
    width: 20%;
  }
  .calendar .rowHeight {
    height: 240px;
  }
}
