/**
Visie Block  
*/
/**
Locations
*/
/**
Colors
*/
/*
Calendar Pagination
*/
/*
Artikels
*/
/*@arikel-long: 375px;
@arikel-short: 150px;*/
.row {
  width: initial;
  margin: 0;
}
/*
Colors
*/
.white {
  background-color: #ffffff;
}
.orange {
  background-color: #e69f55;
}
.aqua {
  background-color: #78b096;
}
.yellow {
  background-color: #e1bf5c;
}
.red {
  background-color: #d46c5b;
}
.black {
  background-color: #3d3d3d;
  color: #ffffff;
}
/*
Video + play button
*/
.videoWrapper {
  position: relative;
}
.videoPlay {
  height: 16%;
  width: 8%;
  border: 1px solid #bed2d1;
  background-color: #a5bebd;
  opacity: 0.5;
}
.videoPlayImg {
  width: 2%;
}
/**********************
Header
**********************/
.welcomeText {
  color: #f7f7f7;
  margin: 6% auto 0%;
}
.welcomeTextWrapper {
  text-align: center;
}
.breeze-logo {
  margin-top: 13px;
  padding-left: 10px;
}
.nav li a {
  text-align: center;
}
.nav a {
  font-size: 3em;
}
.navMargin {
  margin-top: 51px;
}
/**
Visie
*/
.visieBlock {
  text-align: center;
  padding: 4% 0px;
}
.visie1 {
  background-color: #f7f7f7;
  border-bottom: 1px solid #dcdcdc;
}
.visie1 h1 {
  color: #3c3c3c;
}
.visieBlock h1 {
  width: 90%;
}
.visieBlock h6 {
  width: 70%;
  margin-top: 3%;
}
.visie1 h6 {
  color: #a0a0a0;
}
.visie2 {
  color: #f7f7f7;
}
.visieBlock button {
  margin-top: 3%;
}
.visieBlock h1,
.visieBlock h6,
.visieBlock button {
  margin-left: auto;
  margin-right: auto;
}
.btn-visie {
  color: #a0a0a0;
  background-color: #f7f7f7;
  border-color: #a0a0a0;
  text-transform: uppercase;
  border-radius: 0px;
}
.btn-visie:hover {
  color: #a0a0a0;
  border-color: #3c3c3c;
}
/**
Locations
*/
.location {
  cursor: pointer;
}
.locations {
  background-color: #f0f0f0;
}
.locations .location {
  padding: 15px 0px;
}
.location h1 {
  color: #3c3c3c;
}
.location h6 {
  font-size: 1.0em;
  color: #a0a0a0;
}
.location:hover {
  color: #f7f7f7;
  background-image: url(../images/leuven-hover.jpg);
  background-repeat: no-repeat;
  background-position: center;
}
.locations img {
  height: 60px;
  width: 80px;
}
.hoverLocation h1,
.hoverLocation h6 {
  color: #f7f7f7;
}
.hoverLocation img {
  visibility: hidden;
}
/*
Parrallel scroling
*/
#visie2 {
  background: url(../images/visie-butterfly.jpg) no-repeat;
  background-position: 50% -534px;
  background-attachment: fixed;
}
#visie3 {
  background: url(../images/visie-butterfly.jpg) no-repeat;
  background-position: 50% 0px;
  background-attachment: fixed;
}
/**
Arrow block
*/
.arrowBlock {
  padding-bottom: 5%;
}
.arrowBlock h1 {
  margin: 0px;
  padding-top: 3%;
}
.arrowBlock h6 {
  width: 65%;
  margin: 2% auto 2% auto;
}
.arrow {
  font-size: 1.5em;
}
/**
Calendar
*/
.calendar {
  background-color: #f0f0f0;
}
.calender-item {
  height: 200px;
  padding: 2% 3%;
}
.dayLocation span {
  font-size: 1.25em;
}
.calender-item .day {
  font-family: 'signika-bold';
  text-transform: uppercase;
}
.calender-item .city {
  color: #a0a0a0;
}
.calender-item .date {
  font-family: 'signika-bold';
  margin-top: 10%;
}
.calender-item .date h1 {
  font-size: 2.5em;
}
.description {
  font-size: 1.75em;
  margin-top: 5%;
}
.calendar-pagination {
  text-align: center;
  padding: 5%;
}
.pagination-button {
  text-transform: uppercase;
  padding: 1%;
  border: 1px solid #3d3d3d;
}
.less-activities-btn {
  color: #828282;
  background-color: transparent;
}
.more-activities-btn {
  background-color: #3d3d3d;
  color: #f7f7f7;
}
.pagination-less-icon {
  color: #828282;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
  margin-right: 5px;
}
.pagination-more-icon {
  color: #f7f7f7;
  margin-left: 5px;
}
.calendar .row1:nth-child(1) {
  background-color: #ffffff;
}
.calendar .row1:nth-child(2) {
  background-color: #e69f55;
}
.calendar .row1:nth-child(2) .city {
  color: inherit;
}
.calendar .row1:nth-child(2) {
  background-color: #e69f55;
}
.calendar .row1:nth-child(3) {
  background-color: #78b096;
}
.calendar .row1:nth-child(3) .city {
  color: inherit;
}
.calendar .row1:nth-child(4) {
  background-color: #ffffff;
}
.calendar .row1:nth-child(4) .city {
  color: inherit;
}
.calendar .row2:nth-child(1) {
  background-color: #ffffff;
}
.calendar .row2:nth-child(2) {
  background-color: #d46c5b;
}
.calendar .row2:nth-child(2) .city {
  color: inherit;
}
.calendar .row2:nth-child(3) {
  background-color: #e1bf5c;
}
.calendar .row2:nth-child(3) .city {
  color: inherit;
}
.calendar .row2:nth-child(4) {
  background-color: #ffffff;
}
/* 
Artikels 
*/
.artikels {
  background-color: #f0f0f0;
}
.item {
  float: left;
  background-color: #ffffff;
}
.item,
.grid-sizer {
  width: 33.33%;
}
.item .date {
  padding: 4% 0 0 4%;
  font-size: 1em;
}
.item .author {
  padding: 0 0 0 4%;
  font-size: 1em;
}
.item h1 {
  padding: 0 4% 4% 4%;
  font-size: 1.5em;
}
.item._1 {
  height: 300px;
  background-color: #3d3d3d;
  color: #ffffff;
}
.item._2 {
  height: 120px;
  background-color: #e69f55;
}
.item._3 {
  height: 300px;
}
.item._4 {
  height: 300px;
}
.item._5 {
  height: 120px;
  background-color: #78b096;
}
.item._6 {
  height: 120px;
  background-color: #3d3d3d;
  color: #ffffff;
}
.item._7 {
  height: 300px;
}
.item._8 {
  height: 120px;
  background-color: #d46c5b;
}
.item._9 {
  height: 300px;
}
.item._10 {
  height: 300px;
}
.item._11 {
  height: 120px;
  background-color: #e1bf5c;
}
.item._12 {
  height: 120px;
  background-color: #78b096;
}
.item._13 {
  display: none;
}
.item._14 {
  display: none;
}
.item._15 {
  display: none;
}
.item._16 {
  display: none;
}
