/*
Video + play button
*/
.videoWrapper {
  position: relative;
}
.videoPlay {
  height: 16%;
  width: 8%;
  border: 1px solid #bed2d1;
  background-color: #a5bebd;
  opacity: 0.5;
}
.videoPlayImg {
  width: 2%;
}
/**********************
Header
**********************/
.welcomeText {
  color: #f7f7f7;
  margin: 16% auto 0%;
}
.welcomeTextWrapper {
  text-align: center;
}
.breeze-logo {
  margin-top: 13px;
  padding-left: 10px;
}
.nav li a {
  text-align: center;
}
.nav a {
  font-size: 3em;
}
