/**
Here we define some utility classes
*/
/**
Navigation
*/
/**
Visie Block  
*/
/**
Locations
*/
/**
Colors 
*/
/*
Calendar Pagination
*/
/*
Artikels
*/
/*@arikel-long: 375px;
@arikel-short: 150px;*/
/**
Footer
*/
.imgFullWidth {
  width: 100%;
}
.centerAbsolute {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.noContainerPadding {
  padding-left: 0px;
  padding-right: 0px;
}
.positionRelative {
  position: relative;
}
.centerBlock {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.vertical-align-block {
  width: 700px;
  height: 500px;
  background-color: #e69f55;
  margin: auto;
}
.va-wrapper {
  display: table;
  height: 100%;
  width: 100%;
}
.show-grid {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #78b096;
  border: 1px solid black;
}
.no-padding-bottom {
  padding-bottom: 0px !important;
}
.sink-in-footer {
  margin-bottom: -40px;
}
