/* Media queries */ 
@import "variables.less";

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
	body { 
		font-size:100%;     
	}
	.nav a{
		font-size: 1.5em;
	}
	.welcomeText{

		font-size: 62px;
	}

	.locations img{
		height: initial;
		width: initial;
	}
	.row{
		width: 70%;
		margin: auto;
	}
	.location{
		width: 20%;
	}
	.calender-item .date h1{
		font-size: initial;
	}
	.description{
		font-size: initial; 
	}
	//Calendar colors
	.calendar .row1:nth-child(1){
		background-color: @white
	}
	.calendar .row1:nth-child(2){
		background-color: @orange;
	}
	.calendar .row1:nth-child(2) .city{
		color: inherit;
	}
	.calendar .row1:nth-child(3){
		background-color: @white;
	}
	.calendar .row1:nth-child(4){ 
		background-color: @aqua;
	}
	.calendar .row1:nth-child(4) .city{ 
		color: inherit;
	}

	.calendar .row2:nth-child(1){
		background-color: @yellow;
	}
	.calendar .row2:nth-child(1) .city{
		color: inherit;
	}
	.calendar .row2:nth-child(2){
		background-color: @white;
	}
	.calendar .row2:nth-child(3){
		background-color: @red;
	}
	.calendar .row2:nth-child(4){
		background-color: @white;
	} 
	.calendar .rowHeight{
		height: 195px;
	}

	.item, .grid-sizer { 
		width: 25%;
	}
	.item._1{
		height: @arikel-long + 75px;
		background-color: @black;
		color: @white;
	}
	.item._2{
		height: @arikel-short + 50px;
		background-color: @orange;
	}
	.item._3{
		height: @arikel-long + 75px;
		background-color: @white;
	}
	.item._4{
		height: @arikel-short + 50px;
		background-color: @aqua;
	}
	.item._5{
		height: @arikel-long + 75px;
		background-color: @white;
	}
	.item._6{
		height: @arikel-long + 75px;
		background-color: @white;
	}
	.item._7{
		height: @arikel-short + 50px;
		background-color: @red;
	}
	.item._8{
		height: @arikel-short + 50px;
		background-color: @yellow;
	}

	.item._9{
		height: @arikel-long + 75px;
		background-color: @white;
	}
	.item._10{
		height: @arikel-short + 50px;
		background-color: @yellow;
	}
	.item._11{
		height: @arikel-long + 75px;
		background-color: @white;
	}
	.item._12{
		height: @arikel-short + 50px;
		background-color: @red;
	}
	.item._13{
		display: block;
		height: @arikel-long + 75px;
		background-color: @white;
	}
	.item._14{
		display: block;
		height: @arikel-long + 75px;
		background-color: @white;
	}
	.item._15{
		display: block;
		height: @arikel-short + 50px;
		background-color: @orange;
	}
	.item._16{
		display: block;
		height: @arikel-short + 50px;
		background-color: @aqua;
	}


}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 
	body { 
		font-size:120%; 
	}
	.nav a{
		font-size: 1em;
	}
	.welcomeText{
		font-size: 81px;
	}
	.location{
		width: 20%;
	}
	.calendar .rowHeight{
		height: 240px;
	}

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
	body { 
		font-size:150%;
	}
	.nav a{
		font-size: 1em;
	}
	.welcomeText{
		font-size: 98px;
	}

	.location{
		width: 20%;
	}
	.calendar .rowHeight{
		height: 240px;
	}
}