/* Media queries */ 


/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
	body { 
		//font-size:100%; 
	}
	.nav a{
		font-size: 1.5em;
	}
	.welcomeText{

		font-size: 62px;
	}

	.locations img{
		height: initial;
		width: initial;
	}
	.row{
		width: 70%;
		margin: auto;
	}
	.location{
		width: 20%;
	}


}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 
	body { 
		font-size:120%; 
	}
	.nav a{
		font-size: 1em;
	}
	.welcomeText{
		font-size: 81px;
	}
	.location{
		width: 20%;
	}

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
	body { 
		font-size:150%;
	}
	.nav a{
		font-size: 1em;
	}
	.welcomeText{
		font-size: 98px;
	}

	.location{
		width: 20%;
	}
}