@import "variables.less";

.row{
    width: initial;
    margin: 0;
}

/*
Colors
*/

.white{
    background-color: @white;
}
.orange{
    background-color: @orange;
}
.aqua{
    background-color: @aqua;
}
.yellow{
    background-color: @yellow;
}
.red{
    background-color: @red;
}
.black{
    background-color: @black;
    color: @white;
}
/*
Video + play button
*/
.videoWrapper
{
    position: relative;
}
.videoPlay
{
    height: @videoPlayBoxHeight;
    width: @videoPlayBoxHeight/2;
    border: 1px solid @borderPlayButton;
    background-color: @colorPlayButton;
    opacity: 0.5;
}
.videoPlayImg
{
    width: 2%;
}
/**********************
Header
**********************/
.welcomeText{
    color: @welcomeTextColor;
    margin: 6% auto 0%;
}

.welcomeTextWrapper{
    text-align: center;
}
.breeze-logo{
    margin-top: 13px;
    padding-left: 10px;
}

.nav li a{
    text-align: center;
}
.nav a{
 font-size: 3em;
}
.navMargin{
    margin-top: 51px;
}

/**
Visie
*/
.visieBlock{
    text-align: center;
    padding: 4% 0px;
}


.visie1{
    background-color: @welcomeTextColor; 
    border-bottom: 1px solid @visieBorderBottom; 
}
.visie1 h1{
    color: @visieBlockTitleColor;
    
}

.visieBlock h1{
    width: @visieTitleWidth;
}
.visieBlock h6{
    width: @visieTitleWidth - 20;
    margin-top: @visieBlockMarginTop;
}
.visie1 h6{
    color: @visieBlockTextColor;
}
.visie2{
    color: @welcomeTextColor;
}
.visieBlock button{
    margin-top: @visieBlockMarginTop;
}
.visieBlock h1, .visieBlock h6, .visieBlock button{
    margin-left: auto;
    margin-right: auto;
}

.btn-visie{
    color:@visieBlockTextColor;
    background-color: @welcomeTextColor;
    border-color:@visieBlockTextColor; 
    text-transform: uppercase;
    border-radius: 0px;
}
.btn-visie:hover{
    color:@visieBlockTextColor;
    border-color:@visieBlockTitleColor; 
}

/**
Locations
*/
.location{

   cursor: pointer;  
}
.locations{
    background-color: @locationBg;
}
.locations .location{
    padding: 15px 0px;
}
.location h1{
    color:@visieBlockTitleColor;
}
.location h6{
    font-size: 1.0em;
    color:@visieBlockTextColor;
}

.location:hover{
    color:@welcomeTextColor;
    background-image: url(../images/leuven-hover.jpg);
    background-repeat: no-repeat;
    background-position: center;
}
.locations img{
    height: 60px;
    width: 80px;
}

.hoverLocation h1, .hoverLocation h6{
    color:@welcomeTextColor;
}

.hoverLocation img{
    visibility: hidden;
}

/*
Parrallel scroling
*/

#visie2 { 
    background: url(../images/visie-butterfly.jpg) no-repeat;
    background-position: 50% -534px; //initial position. This wil be overwritten every thime we scroll
    background-attachment:fixed; 
}
#visie3 { 
    // background: url(../images/diepgang.jpg) no-repeat;
    background: url(../images/visie-butterfly.jpg) no-repeat;
    background-position: 50% 0px; //initial position. This wil be overwritten every thime we scroll
    background-attachment:fixed;
}  

/**
Arrow block
*/

.arrowBlock{
    padding-bottom: 5%;
}
.arrowBlock h1{
    margin: 0px;
    padding-top: 3%;   
}
.arrowBlock h6{
    width: 65%;
    margin: 2% auto 2% auto;     
}
.arrow{
    font-size: 1.5em;
}

/**
Calendar
*/
.calendar{
    background-color: @locationBg;
}

.calender-item{
    height: 200px;
    padding: 2% 3%;
}
.dayLocation span{
 font-size: 1.25em;
}
.calender-item .day{
    font-family: 'signika-bold';
    text-transform: uppercase;
    
}
.calender-item .city{
    color: @visieBlockTextColor;

}
.calender-item .date{
    font-family: 'signika-bold';
    margin-top: 10%;
}

.calender-item .date h1{
    font-size: 1.5em;
}
.description{
    font-size: 1.25em; 
    margin-top: 5%;
} 

.custom-pagination {
    text-align: center;
    padding: 5%;
}
.pagination-button{
    text-transform: uppercase;
    padding: 1%;
    border:1px solid @dark-pagination-color;
}
.less-activities-btn{


    color: #828282;
    background-color: transparent;

}
.more-activities-btn{
    background-color: @dark-pagination-color;
    color:@welcomeTextColor;
}

.pagination-less-icon{
    color: #828282;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
    margin-right: 5px;
}
.pagination-more-icon{
    color: @welcomeTextColor; 
    margin-left: 5px;

}
.calendar .col-xs-6{
    width: 33.33%
}
.calendar-items ._1{
    background-color: @white;
}
.calendar-items ._2{
    background-color: @orange;
}
.calendar-items ._2 .city{
    color:inherit;
}
.calendar-items ._2{
    background-color: @orange;
}
.calendar-items ._3{
    background-color: @white;
}
.calendar-items ._4{
    background-color: @aqua;
}
.calendar-items ._4 .city{
    color:inherit;
}

.calendar-items ._5{
    background-color: @white;
}
.calendar-items ._6{
    background-color: @yellow;
}
.calendar-items ._6 .city{
    color:inherit;
}
.calendar-items ._7{
    background-color: @white;
}

.calendar-items ._8{
    background-color: @red;
}
.calendar-items ._8 .city{
    color:inherit;
}
.calendar-items ._9{
    background-color: @white;
}

/* 
Artikels 
*/ 


.artikels{
    background-color: @locationBg;
}


.item {
    float: left;
    background-color: @white; 
}

.item, .grid-sizer { 
    width: 33.33%; 
}
.item .date{ 
    padding: 4% 0 0 4%;
    font-size: 1em;
    font-family: 'signika-bold';
}
.item .author{
    padding: 0 0 0 4%;
    font-size: 1em;
}
.item h1{ 
    padding: 0 4% 4% 4%;
    font-size: 1.5em;
}
.item._1{
    height: @arikel-long;
    background-color: @black;
    color: @white;
}
.item._2{
    height: @arikel-short;
    background-color: @orange;
}
.item._3{
    height: @arikel-long;
}
.item._4{
    height: @arikel-long;
}
.item._5{
    height: @arikel-short;
    background-color: @aqua;
}
.item._6{
    height: @arikel-short;
    background-color: @black;
    color: @white;
}
.item._7{
    height: @arikel-long;
}
.item._8{
    height: @arikel-short;
    background-color: @red;
}

.item._9{
    height: @arikel-long;
}
.item._10{
    height: @arikel-long;
}
.item._11{
    height: @arikel-short;
    background-color: @yellow;
}
.item._12{
    height: @arikel-short;
    background-color: @aqua;
}
.item._13{
    display: none;
}
.item._14{
    display: none;
}
.item._15{
    display: none;
}
.item._16{
    display: none;
}



