// Play button
@borderPlayButton: #bed2d1;
@colorPlayButton: #a5bebd;

//Text color
@welcomeTextColor: #f7f7f7;
@videoPlayBoxHeight: 16%;

/**
Visie Block  
*/
@visieBlockTitleColor: #3c3c3c;
@visieBlockTextColor: #a0a0a0;
@visieBorderBottom: #dcdcdc;
@visieTitleWidth: 90%;
@visieBlockMarginTop:3%;

/**
Locations
*/
@locationBg: #f0f0f0;

/**
Colors
*/
@white: #ffffff;
@orange: #e69f55;
@aqua: #78b096;
@yellow:#e1bf5c;
@red:#d46c5b;
@black:#3d3d3d;

/*
Calendar Pagination
*/
@dark-pagination-color:#3d3d3d;

/*
Artikels
*/
/*@arikel-long: 375px;
@arikel-short: 150px;*/

@arikel-long: 200px;
@arikel-short: 100px;
