
.bal{

  background-image: url(../images/bal.png);
  width: 120px;
  height: 120px;
  background-repeat: no-repeat;
}

/**
Visie Block
*/
.test {
  background-color: #C2C2C2;
  
}
.stellarImage {
  position: absolute;
  
}

.middle{
	right:0px;
}

/*
Video + play button
*/
.videoWrapper {
  position: relative;
}
.videoPlay {
  height: 16%;
  width: 8%;
  border: 1px solid #bed2d1;
  background-color: #a5bebd;
  opacity: 0.5;
}
.videoPlayImg {
  width: 2%;
}
.container-fluid{
	position:relative;
}
/**********************
Header
**********************/
.welcomeText {
  color: #f7f7f7;
  margin: 16% auto 0%;
}
.welcomeTextWrapper {
  text-align: center;
}
.breeze-logo {
  margin-top: 13px;
  padding-left: 10px;
}
.nav li a {
  text-align: center;
}
.nav a {
  font-size: 3em;
}
.navMargin {
  margin-top: 51px;
}
/**
Visie
*/
.visieBlock {
  background-color: #f7f7f7;
  border-bottom: 1px solid #dcdcdc;
  text-align: center;
  padding: 4% 0px;
}
.visieBlock h1 {
  color: #3c3c3c;
  width: 90%;
}
.visieBlock h6 {
  color: #a0a0a0;
  width: 70%;
  margin-top: 3%;
}
.visieBlock button {
  margin-top: 3%;
}
.visieBlock h1,
.visieBlock h6,
.visieBlock button {
  margin-left: auto;
  margin-right: auto;
}
.btn-visie {
  color: #a0a0a0;
  background-color: #f7f7f7;
  border-color: #a0a0a0;
  text-transform: uppercase;
  border-radius: 0px;
}
.btn-visie:hover {
  color: #a0a0a0;
  border-color: #3c3c3c;
}
